.playerPairList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.scrollableContainer {
    width: 100%;
    overflow-y: scroll;
    max-height: 80vh;
}
.playerPairList h2 {
    margin-bottom: 4rem;
}

.playerListUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.playerListUl li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    cursor: default;
}
