.tableInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.tableCards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    cursor: default;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e0e0e0;
    }
}

.messageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
    cursor: default;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e0e0e0;
    }
}
