.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: black;
    background-color: beige;
    border: clamp(4px, 1vmin, 8px) solid lightgrey;
    border-radius: 8px;
    box-shadow: #bbb 0px 4px 8px 0px, #bbb 0px 2px 4px 0px;

    // height to width has a 4:3 ratio
    width: 18vmin;
    height: 24vmin;
    margin: 1vmin;
    transition: transform 0.05s, box-shadow 0.2s;

    position: relative;
    overflow: hidden;
}

.card.hoverable::after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    // transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
}

.card.hoverable:hover::after {
    width: 300%;
    height: 300%;
}

.card > h2 {
    margin: 0;
    // padding: 0 0.5vmin;
    font-size: clamp(0.5rem, 2.5vmin, 1.6rem);
    word-break: break-word;
}

.cardContainer.hoverable:hover .card {
    transform: translateY(-0.5vmin);
    box-shadow: #bbb 0px 8px 16px 0px, #bbb 0px 4px 8px 0px;
}
