.waitingRoomScreen {
    max-width: 100%;
    width: 100vw;
    max-height: 80%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "roomInfo space playerList"
        "roomInfo space playerList"
        "space2    space playerList"
        "space2    space playerList";
}

.waitingRoomScreenHeader {
    grid-area: header;
}

.roomInfo {
    grid-area: roomInfo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.playerList {
    grid-area: playerList;
}
